{% extends "accounts/simple_base.html" %}
{% block title %}Nueva contraseña{% endblock %}
{% block content %}
<h1>Elige una nueva contraseña</h1>
<form method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.new_password1.errors }}
  <input type="password" name="new_password1" placeholder="Nueva contraseña" required style="width:100%;padding:12px;border-radius:10px;margin:10px 0;">
  {{ form.new_password2.errors }}
  <input type="password" name="new_password2" placeholder="Repite la contraseña" required style="width:100%;padding:12px;border-radius:10px;margin:10px 0;">
  <button class="btn" type="submit">Guardar</button>
</form>
{% endblock %}
