{% extends "accounts/simple_base.html" %}
{% block title %}Contraseña restablecida{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 450px;">
  <h2 class="mb-4">¡Listo!</h2>
  <p class="text-success">
    Tu contraseña ha sido restablecida correctamente. Ya puedes iniciar sesión con tu nueva contraseña.
  </p>

  <div class="text-center mt-4">
    <a href="{% url 'accounts:login' %}" class="btn btn-primary w-100">
      Ir al login
    </a>
  </div>
</div>
{% endblock %}
