<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Dentyx</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <nav>
      <a href="/">Inicio</a>
      {% if user.is_authenticated %}
        <span>Hola, {{ user.get_username }}</span>
        <a href="{% url 'accounts:logout' %}">Salir</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">Entrar</a>
      {% endif %}
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer><small>Dentyx © {{ now|date:"Y" }}</small></footer>
</body>
</html>
